<launch>
    <param name="/use_sim_time" value="false"/>
    <!-- 左相机节点 -->
    <node pkg="hikrobot_camera" type="hkvision" name="hikrobot_camera_left" output="screen">
        <param name="ip" value="192.168.1.150"/>
        <param name="port" value="8000"/>
        <param name="username" value="admin"/>
        <param name="password" value="Ydkj147258"/>
        <param name="channel" value="1"/>
        <param name="topic_name" value="/hikcam_left"/>
        <param name="target_fps" value="10" />
        <param name="reference_topic" value="/rslidar_left" />
        <param name="max_time_diff" value="0.05" />
    </node>

    <!-- 右相机节点 -->
    <node pkg="hikrobot_camera" type="hkvision" name="hikrobot_camera_right" output="screen">
        <param name="ip" value="192.168.1.160"/>
        <param name="port" value="8000"/>
        <param name="username" value="admin"/>
        <param name="password" value="Ydkj147258"/>
        <param name="channel" value="1"/>
        <param name="topic_name" value="/hikcam_right"/>
        <param name="target_fps" value="10" />
        <param name="reference_topic" value="/hikcam_left" />
        <param name="max_time_diff" value="0.05" />
    </node>
    

</launch>
